@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">
        <h2>Administration</h2>
        <div class="card-columns">
            <div class="card" style="background-color:darkgoldenrod; ">
                <a href="~/EmployeeTypes/Index">
                    <div class="card-body text-center" style="background-color:black; font-size:large;">
                        <h1 style="color:darkgoldenrod; font-size: xx-large;">Employee Types</h1>
                    </div>
                </a>

            </div>

            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/StockTypes/Index">Stock Types</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Sizes/Index"> Stock Size</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Colours/Index"> Stock Color</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/StockStates/Index"> Stock State</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Status/Index"> Stock Status</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Locations/Index"> Stock Locations</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Qualifications/Index"> Stock Qualifications</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/OrderStatus/Index"> Order Status</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Institutions/Index">Institution</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Prices/Index">Prices</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Customers/Index">Customers</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/StockDescriptions/Index">Stock Description</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/RefundStatus/Index">Refund Status</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Faculties/Index"> Faculties</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Establishments/Index"> Establishment</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Departments/Index"> Stock Department</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/BackOrderStatus/Index"> Back Order Status</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Locations/Index"> Stock Locations</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/DeliveryStatus/Index"> Delivery Status</a>
                </div>
            </div>
            <div class="card" style="background-color:darkgoldenrod; ">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Banks/Index"> Banks</a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
