@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div class="container">
        <div class="card-deck">
            <div class="card col-lg-6 col-sm-6 col-md-6" style="background-color: goldenrod;  color: black;">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Employee/Index">Manage Employees</a>

                </div>
            </div>
            <div class="card col-lg-6 col-sm-6 col-md-6" style="background-color: goldenrod;  color: black;">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Manage/Index">Manage Profile</a>
                </div>
            </div>
            <div class="card col-lg-6 col-sm-6 col-md-6" style="background-color: goldenrod;  color: black;">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: xx-large;" href="~/Stock/Index">Manage Stock</a>
                </div>
            </div>
            <div class="card col-lg-6 col-sm-6 col-md-6" style="background-color: goldenrod;  color: black;">
                <div class="card-body text-center" style="background-color:black; font-size:large;">
                    <a style="color:darkgoldenrod; font-size: x-large;" href="~/Admin/Index">Administration</a>
                </div>
            </div>
 
        </div>

    </div>

</body>
</html>
