
@{
    ViewBag.Title = "SalesReport";
}

<style>
    body{
        background-color:black;
        color:white;
    }
</style>
<body>
    <hr />
    <center><h5>Sales Report</h5></center>
    <br />
    <br />
    <a class="btn btn-danger" href="@Url.Action("ExportPDFSalesReport")">Download PDF Report</a>
    <br />
</body>
