@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<h1 style="color:goldenrod">@ViewBag.Title</h1>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

